<nav class="navbar-top">
    <div class="nav-wrapper">
        <!-- Sidebar toggle -->
        <a href="#" class="yay-toggle">
        <div class="burg1"></div>
        <div class="burg2"></div>
        <div class="burg3"></div>
        </a>
        <!-- Sidebar toggle -->
        <!-- Menu -->
        <ul>
            <li>
                <a href="#!" class="search-bar-toggle"><i class="mdi-action-search"></i></a>
            </li>
            <li class="user">
                <a class="dropdown-button" href="#!" data-activates="user-dropdown">
                <img src="{echo CDN}plugins/_con/images/user.jpg" alt="{echo $user->name}" class="circle">{echo $user->name}<i class="mdi-navigation-expand-more right"></i>
                </a>
                <ul id="user-dropdown" class="dropdown-content">
                    <li>
                        <a href="/teachers/dashboard">Teacher Panel</a>
                    </li>
                    <li>
                        <a href="mail-inbox.html"><i class="fa fa-envelope"></i> Messages <span class="badge new">2</span></a>
                    </li>
                    <li>
                        <a href="#!"><i class="fa fa-cogs"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/teachers/logout"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /Menu -->
    </div>
</nav>
<!-- /Top Navbar -->
<aside class="yaybar yay-shrink yay-hide-to-small yay-gestures yay-light yay-static">
    <div class="top">
        <div>
            <!-- Sidebar toggle -->
            <a href="#" class="yay-toggle">
            <div class="burg1"></div>
            <div class="burg2"></div>
            <div class="burg3"></div>
            </a>
            <!-- Sidebar toggle -->
            <!-- Logo -->
            <a href="#!" class="brand-logo">
            <img src="{echo CDN}plugins/_con/images/logo-white.png" alt="Con">
            </a>
            <!-- /Logo -->
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <ul>
                <li class="label">Menu</li>
                <li>
                    <a class="waves-effect waves-blue" href="/school"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="label">Quick Links</li>
                <li>
                    <a class="yay-sub-toggle waves-effect waves-blue"><i class="fa fa-users"></i> Students<span class="yay-collapse-icon mdi-navigation-expand-more"></span></a>
                    <ul>
                        <li>
                            <a class="waves-effect waves-blue" href="/students/add"><i class="fa fa-user-plus"></i> Add Students</a>
                        </li>
                        <li>
                            <a class="waves-effect waves-blue" href="/students/manage"><i class="fa fa-user-times"></i> Manage Students</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="yay-sub-toggle waves-effect waves-blue"><i class="fa fa-user-secret"></i> Teachers<span class="yay-collapse-icon mdi-navigation-expand-more"></span></a>
                    <ul>
                        <li>
                            <a class="waves-effect waves-blue" href="/teachers/add"><i class="fa fa-plus-circle"></i> Add Teachers</a>
                        </li>
                        <li>
                            <a class="waves-effect waves-blue" href="/teachers/manage"><i class="fa fa-server"></i> Manage Teachers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="yay-sub-toggle waves-effect waves-blue"><i class="mdi mdi-av-web"></i> Classes<span class="yay-collapse-icon mdi-navigation-expand-more"></span></a>
                    <ul>
                        <li>
                            <a class="waves-effect waves-blue" href="/grades/add"><i class="fa fa-codepen"></i> Add Classes</a>
                        </li>
                        <li>
                            <a class="waves-effect waves-blue" href="/grades/manage"><i class="fa fa-pie-chart"></i> Manage Classes</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!-- /Yay Sidebar -->