<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-logo">
                <a class="svg" href="/">CloudEducate</a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-nav-margin-left">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/assignments/create"><i class="fa fa-plus"></i> Create</a></li>
                        <li><a href="/assignments/manage"><i class="fa fa-pie-chart"></i> Manage</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/teacher/viewCourses">View All</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Exams <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/teacher/manageExams"><i class="fa fa-pie-chart"></i> Manage</a></li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
                    {if $user->admin}
                    <li>
                        <a href="/school">Admin Panel</a>
                    </li>
                    {/if}
                    <!-- user -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{echo CDN}images/people/110/guy-6.jpg" alt="" class="img-circle" /> {echo $user->name}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/teacher/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a></li>
                            <li><a href="/teacher/profile"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="/teacher/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- // END user -->
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div>