<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Dashboard</h1>
                <ul>
                    <li>
                        <a href="/school"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="#">Add Student</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <form action="" method="post">
        <table class="table card-panel">
            <thead>
                <tr>
                    <th>Name *</th>
                    <th>Phone </th>
                    <th>Parent Name *</th>
                    <th>Parent Relation *</th>
                    <th>Parent Phone *</th>
                    <th>DOB *</th>
                    <th>Address *</th>
                    <th>Class *</th>
                    <th>Section *</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="input-field">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" name="name[]">
                    </td>
                    <input type="hidden" class="" name="email[]" value="">
                    <td class="input-field">
                        <i class="mdi-communication-phone prefix"></i>
                        <input type="text" class="validate" name="phone[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-social-person prefix"></i>
                        <input type="text" class="validate" name="parent[]">
                    </td>
                    <td class="input-field">
                        <input type="text" class="validate" name="relation[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-communication-stay-current-portrait prefix"></i>
                        <input type="text" class="validate" name="parent_phone[]">
                    </td>
                    <td class="input-field">
                        <i class="fa fa-calendar prefix"></i>
                        <input type="text" class="validate" name="dob[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-action-home prefix"></i>
                        <input type="text" class="validate" name="address[]">
                    </td>
                    <td class="input-field">
                        <select required="" name="class[]" class="selectClass">
                            <option>Select</option>
                            {foreach $g in $grades}
                            <option value="{echo $g->id}">{echo $g->title}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td class="input-field">
                        <select required="" name="classroom[]" class="selectSection">
                            <option value="">Select</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="action" value="addStudents">
        <button class="waves-effect btn" type="submit"><i class="mdi-action-done"></i> Submit</button>
        <a href="/school" class="waves-effect red btn"><i class="mdi-content-clear"></i> Cancel</a>
    </form>
</section>
<!-- /Main Content -->
