<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{echo strip_tags($seo->getDescription())}, app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav, ">
        <meta name="author" content="Hemant Mann, hemant@cloudstuffs.com">
        <meta name="developer" content="Hemant Mann, hemant@cloudstuffs.com">
        <title>{echo $seo->getTitle()}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css">
        <!-- nanoScroller -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/nanoScroller/nanoscroller.css" />
        <!-- FontAwesome -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/font-awesome/css/font-awesome.min.css" />
        <!-- Material Design Icons -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/material-design-icons/css/material-design-icons.min.css" />
        <!-- IonIcons -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/ionicons/css/ionicons.min.css" />
        <!-- WeatherIcons -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/weatherIcons/css/weather-icons.min.css" />
        <!-- Rickshaw -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/rickshaw/rickshaw.min.css" />
        <!-- jvectormap -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/jquery-jvectormap/jquery-jvectormap.css" />
        <!-- Google Prettify -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/google-code-prettify/prettify.css" />
        <!-- Main -->
        <link rel="stylesheet" type="text/css" href="{echo CDN}plugins/_con/css/_con.min.css" />

        {if isset($cal)}
        <link href="{echo CDN}plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
        <link href="{echo CDN}plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
        <style>
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
        </style>
        {/if}
        <!--[if lt IE 9]>
        <script src="{echo CDN}plugins/html5shiv/html5shiv.min.js"></script>
        <![endif]-->
    </head>
    <body class="yay-hide">
        {include layouts/navigation/school.html}
        {ayield action}

        <!-- Search Bar -->
        <div class="search-bar">
            <div class="layer-overlay"></div>
            <div class="layer-content">
                <form action="dashboard.html#!">
                    <!-- Header -->
                    <a class="search-bar-toggle grey-text text-darken-2" href="dashboard.html#!"><i class="mdi-navigation-close"></i></a>
                    <!-- Search Input -->
                    <div class="input-field">
                        <i class="mdi-action-search prefix"></i>
                        <input type="text" name="con-search" placeholder="Search...">
                    </div>
                    <!-- Search Results -->
                    <div class="search-results">
                        <div class="row">
                            <div class="col s12 l4">
                                <h4>Users</h4>
                                <div class="each-result">
                                    <img src="{echo CDN}plugins/_con/images/user2.jpg" alt="Felecia Castro" class="circle photo">
                                    <div class="title">Felecia Castro</div>
                                    <div class="label">Content Manager</div>
                                </div>
                                <div class="each-result">
                                    <img src="{echo CDN}plugins/_con/images/user3.jpg" alt="Max Brooks" class="circle photo">
                                    <div class="title">Max Brooks</div>
                                    <div class="label">Programmer</div>
                                </div>
                                <div class="each-result">
                                    <img src="{echo CDN}plugins/_con/images/user4.jpg" alt="Patsy Griffin" class="circle photo">
                                    <div class="title">Patsy Griffin</div>
                                    <div class="label">Support</div>
                                </div>
                                <div class="each-result">
                                    <img src="{echo CDN}plugins/_con/images/user6.jpg" alt="Vernon Garrett" class="circle photo">
                                    <div class="title">Vernon Garrett</div>
                                    <div class="label">Photographer</div>
                                </div>
                            </div>
                            <div class="col s12 l4">
                                <h4>Articles</h4>
                                <div class="each-result">
                                    <div class="icon circle blue white-text">MD</div>
                                    <div class="title">Material Design</div>
                                    <div class="label nowrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur debitis veritatis dolorum, enim libero!</div>
                                </div>
                                <div class="each-result">
                                    <div class="icon circle teal white-text">
                                        <i class="fa fa-dashboard"></i>
                                    </div>
                                    <div class="title">Admin Dashboard</div>
                                    <div class="label nowrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur debitis veritatis dolorum, enim libero!</div>
                                </div>
                                <div class="each-result">
                                    <div class="icon circle orange white-text">RD</div>
                                    <div class="title">Responsive Design</div>
                                    <div class="label nowrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur debitis veritatis dolorum, enim libero!</div>
                                </div>
                                <div class="each-result">
                                    <div class="icon circle red white-text">
                                        <i class="fa fa-tablet"></i>
                                    </div>
                                    <div class="title">Mobile First</div>
                                    <div class="label nowrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi consequatur debitis veritatis dolorum, enim libero!</div>
                                </div>
                            </div>
                            <div class="col s12 l4">
                                <h4>Posts</h4>
                                <div class="no-result">No results were found ;(</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /Search Bar -->
        <footer>&copy; 2015 <strong>SwiftDeal Online LLP</strong>
        </footer>
        <!-- DEMO [REMOVE IT ON PRODUCTION] -->
        <script type="text/javascript" src="{echo CDN}plugins/_con/js/_demo.js"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="{echo CDN}plugins/jquery/jquery.min.js"></script>
        <!-- jQuery RAF (improved animation performance) -->
        <script type="text/javascript" src="{echo CDN}plugins/jqueryRAF/jquery.requestAnimationFrame.min.js"></script>
        <!-- nanoScroller -->
        <script type="text/javascript" src="{echo CDN}plugins/nanoScroller/jquery.nanoscroller.min.js"></script>
        <!-- Materialize -->
        <script type="text/javascript" src="{echo CDN}plugins/materialize/js/materialize.min.js"></script>
        <!-- Simple Weather -->
        <script type="text/javascript" src="{echo CDN}plugins/simpleWeather/jquery.simpleWeather.min.js"></script>
        <!-- Sparkline -->
        <script type="text/javascript" src="{echo CDN}plugins/sparkline/jquery.sparkline.min.js"></script>
        <!-- Flot -->
        <script type="text/javascript" src="{echo CDN}plugins/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="{echo CDN}plugins/flot/jquery.flot.time.min.js"></script>
        <script type="text/javascript" src="{echo CDN}plugins/flot/jquery.flot.pie.min.js"></script>
        <script type="text/javascript" src="{echo CDN}plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script type="text/javascript" src="{echo CDN}plugins/flot/jquery.flot.categories.min.js"></script>
        <!-- d3 -->
        <script type="text/javascript" src="{echo CDN}plugins/d3/d3.min.js"></script>
        <!-- Rickshaw -->
        <script type="text/javascript" src="{echo CDN}plugins/rickshaw/rickshaw.min.js"></script>
        <!-- jvectormap -->
        <script type="text/javascript" src="{echo CDN}plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
        <script type="text/javascript" src="{echo CDN}plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script type="text/javascript" src="{echo CDN}plugins/jquery-jvectormap/gdp-data.js"></script>
        <!-- Sortable -->
        <script type="text/javascript" src="{echo CDN}plugins/sortable/Sortable.min.js"></script>
        <!-- Main -->
        <script type="text/javascript" src="{echo CDN}plugins/_con/js/_con.min.js"></script>
        <!-- Google Prettify -->
        <script type="text/javascript" src="{echo CDN}plugins/google-code-prettify/prettify.js"></script>
        <script src="{echo CDN}js/theme.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        <script src="{echo CDN}js/model.js"></script>
        <script src="{echo CDN}js/modal.js"></script>
        <script src="{echo CDN}js/admin-1.0.js"></script>
        {if isset($cal)}
        <script src="{echo CDN}plugins/fullcalendar/moment.min.js"></script>
        <script src="{echo CDN}plugins/fullcalendar/fullcalendar.min.js"></script>
        <script src="{echo CDN}js/calendar.js"></script>
        {/if}
    </body>
</html>