<!DOCTYPE html>
<html class="transition-navbar-scroll top-navbar-xlarge bottom-footer" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{echo strip_tags($seo->getKeywords())}">
    <meta name="description" content="{echo strip_tags($seo->getDescription())}">
    <meta name="author" content="CloudStuff.tech">
    <meta name="developer" content="Hemant Mann, hemant@cloudstuff.tech">
    <title>{echo $seo->getTitle()}</title>
    <link href="{echo CDN}css/vendor/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{echo CDN}css/vendor/railscasts.css" rel="stylesheet"> 
    <link href="{echo CDN}css/vendor/jquery.bootstrap-touchspin.css" rel="stylesheet"> 
    <link href="{echo CDN}css/vendor/select2.css" rel="stylesheet"> 

    <link href="{echo CDN}css/app/essentials.css" rel="stylesheet" />
    <link href="{echo CDN}css/app/material.css" rel="stylesheet" />
    <link href="{echo CDN}css/app/layout.css" rel="stylesheet" />
    <link href="{echo CDN}css/app/navbar.css" rel="stylesheet" />
    <link href="{echo CDN}css/app/colors-alerts.css" rel="stylesheet" />
    <link href="{echo CDN}css/app/colors-background.css" rel="stylesheet" />
    <link href="{echo CDN}css/app/colors-buttons.css" rel="stylesheet" />
    <link href="{echo CDN}css/app/colors-text.css" rel="stylesheet" />

    {if isset($cal)}
    <link href="{echo CDN}plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="{echo CDN}plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
    <style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
    </style>
    {/if}
</head>

<body>
    {if (@$scholar !== NULL)}
        {include layouts/navigation/student.html}
        {ayield action}
    {/if} {elseif (@$educator !== NULL)}
        {include layouts/navigation/teacher.html}
        {ayield action}
    {/elseif} {else}
        {include layouts/navigation/standard.html}
        {ayield action}
        <section class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="http://swiftdeal.org">About the company</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="/contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="/features.html">Features</a></li>
                            <li><a href="/pricing.html">Pricing</a></li>
                            <li><a href="https://goo.gl/mp4lIH">Student App</a></li>
                        </ul>
                        <p>
                            <a href="https://www.facebook.com/CloudEducate-234677753582015/" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p>Address: </p>
                        <p>Los Angeles Office</p>
                        <p>32 South Spring Street, South Tower</p>
                        <p>Los Angeles, CA 90013</p>
                        <p>USA</p>
                        <p>Phone: +91-9958636988, Email: info@cloudstuff.tech</p>
                        <br/>
                    </div>
                </div>
            </div>
        </section>
    {/else}

    <footer class="footer">
        <strong>CloudEducate</strong> v1.1.0 &copy; Copyright 2016
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{echo CDN}js/vendor/core/jquery-ui.custom.js"></script>
    <script src="{echo CDN}js/vendor/core/modernizr.js"></script>
    <script src="{echo CDN}js/vendor/core/velocity.js"></script>
    <script src="{echo CDN}js/vendor/forms/all.js"></script>

    <script src="{echo CDN}js/app/material.js"></script>
    <script src="{echo CDN}js/model.js"></script>
    {if isset($scholar)}
    <script src="{echo CDN}js/student-1.0.js"></script>
    {/if} {elseif isset($educator)}
    <script src="{echo CDN}js/teacher-1.0.js"></script>
    {/elseif}

    {if isset($cal)}
    <script src="{echo CDN}plugins/fullcalendar/moment.min.js"></script>
    <script src="{echo CDN}plugins/fullcalendar/fullcalendar.min.js"></script>
    {/if}
</body>
</html>
