<!DOCTYPE html>
<html class="transition-navbar-scroll top-navbar-xlarge bottom-footer" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{echo strip_tags($seo->getKeywords())}">
  <meta name="description" content="{echo strip_tags($seo->getDescription())}, app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav, ">
  <meta name="author" content="Hemant Mann, hemant@cloudstuffs.com">
  <meta name="developer" content="Hemant Mann, hemant@cloudstuffs.com">
  <title>{echo $seo->getTitle()}</title>

  <link rel="stylesheet" type="text/css" href="{echo CDN}css/all.css">
  <link rel="stylesheet" type="text/css" href="{echo CDN}css/app.css">

  </head>

<body>
    
    {include layouts/navigation/student.html}
    {ayield action}

    <!-- Footer -->
    <footer class="footer">
        <strong>Learning</strong> v1.1.0 &copy; Copyright 2015
    </footer>
    <!-- // Footer -->
    
    <script src="{echo CDN}js/main.js"></script>
    <script src="{echo CDN}js/all.js"></script>
    <script src="{echo CDN}js/app.js"></script>

</body>
</html>
