<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Assign Subjects</h1>
                <ul>
                    <li>
                        <a href="/school"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="/teacher/manage">Teachers</a> <i class="fa fa-angle-right"></i></li>
                    <li>Assign Subjects</li>
                </ul>
            </div>
        </div>
    </div>
    {if isset($success)}
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="background-color: #BCED91; color: green;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {echo $success}
    </div>
    {/if}
    <!-- /Breadcrumb -->
    <form action="" method="post">
        <table class="table card-panel">
            <thead>
                <tr>
                    <th>Grade *</th>
                    <th>Section *</th>
                    <th>Course *</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="input-field">
                        <select data-id="0" name="grade[]" required="" class="findCourses findSections browser-default">
                            <option>Select</option>
                            {foreach $g in $grades}
                            <option value="{echo $g->id}">{echo $g->title}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="section[]" required="" class="gradeSections browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="course[]" required="" class="gradeCourses browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <select data-id="1" name="grade[]" required="" class="findCourses findSections browser-default">
                            <option>Select</option>
                            {foreach $g in $grades}
                            <option value="{echo $g->id}">{echo $g->title}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="section[]" required="" class="gradeSections browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="course[]" required="" class="gradeCourses browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <select data-id="2" name="grade[]" required="" class="findCourses findSections browser-default">
                            <option>Select</option>
                            {foreach $g in $grades}
                            <option value="{echo $g->id}">{echo $g->title}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="section[]" required="" class="gradeSections browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="course[]" required="" class="gradeCourses browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <select data-id="3" name="grade[]" required="" class="findCourses findSections browser-default">
                            <option>Select</option>
                            {foreach $g in $grades}
                            <option value="{echo $g->id}">{echo $g->title}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="section[]" required="" class="gradeSections browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="course[]" required="" class="gradeCourses browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field">
                        <select data-id="4" name="grade[]" class="findCourses findSections browser-default">
                            <option>Select</option>
                            {foreach $g in $grades}
                            <option value="{echo $g->id}">{echo $g->title}</option>
                            {/foreach}
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="section[]" class="gradeSections browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field">
                        <select name="course[]" class="gradeCourses browser-default">
                            <option>Select</option>
                        </select>
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="action" value="assignTeacher">
        <button class="waves-effect btn" type="submit"><i class="mdi-action-done"></i> Submit</button>
        <a href="/teacher/manage" class="waves-effect red btn"><i class="mdi-content-clear"></i> Cancel</a>
    </form>
    <br><br>
    <div class="card">
        <div class="title">
            <h5><strong>Assigned Courses</strong></h5>
        </div>
        <div class="content">
            {if count($teaches) > 0}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S. No.</th>
                            <th>Subject</th>
                            <th>Class</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1}
                        {foreach $t in $teaches}
                        <tr>
                            <td>{echo $i}</td>
                            {script $course = Course::first(array("id = ?" => $t->course_id), array("title"))}
                            <td>{echo $course->title}</td>

                            {script $classroom = Classroom::first(array("id = ?" => $t->classroom_id), array("section"))}
                            {script $grade = Grade::first(array("id = ?" => $t->grade_id), array("title"))}
                            <td>{echo $grade->title . " - " . $classroom->section}</td>
                            <td>
                                <!-- <a href="/teacher/removeCourse/{echo $t->id}" class="btn btn-small lighten-1 red z-depth-0"><i class="fa fa-trash"></i></a> -->
                            </td>
                        </tr>
                        {script ++$i}
                        {/foreach}
                    </tbody>
                </table>
            </div>
            {/if}
        </div>
    </div>
</section>
<!-- /Main Content -->
