<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <div class="row" data-toggle="isotope">
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">My Account</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <li class="list-group-item active"><a class="link-text-color" href="website-instructor-dashboard.html">Dashboard</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="website-instructor-courses.html">My Courses</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="website-instructor-messages.html">Messages</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="website-instructor-earnings.html">Earnings</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="website-instructor-statement.html">Statement</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="website-instructor-profile.html">Profile</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="login.html"><span>Logout</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="panel-heading">
                        <h4 class="text-headline margin-none">My Courses</h4>
                        <p class="text-subhead text-light">Your recent courses</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item media v-middle">
                            <div class="media-body">
                                <a href="website-instructor-course-edit-course.html" class="text-subhead list-group-link">Basics of HTML</a>
                            </div>
                            <div class="media-right">
                                <div class="progress progress-mini width-100 margin-none">
                                    <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item media v-middle">
                            <div class="media-body">
                                <a href="website-instructor-course-edit-course.html" class="text-subhead list-group-link">Angular in Steps</a>
                            </div>
                            <div class="media-right">
                                <div class="progress progress-mini width-100 margin-none">
                                    <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item media v-middle">
                            <div class="media-body">
                                <a href="website-instructor-course-edit-course.html" class="text-subhead list-group-link">Bootstrap Foundations</a>
                            </div>
                            <div class="media-right">
                                <div class="progress progress-mini width-100 margin-none">
                                    <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="panel-footer text-right">
                        <a href="website-instructor-courses.html" class="btn btn-white paper-shadow relative" data-z="0" data-hover-z="1" data-animated>View all</a>
                        <a href="website-instructor-course-edit-course.html" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1" data-animated>CREATE COURSE <i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
