{include events/modals/add_event.html}
{include events/modals/display_event.html}
<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <h2 class="page-header">Your Schedules</h2>
                    <div id="calendar" class="panel"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">My Account</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <li class="list-group-item"><a class="link-text-color" href="/teacher">Dashboard</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="#">Manage Attendance</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="#">Messages</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="#">Student Marks</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="/assignments/manage">Assignments</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="/teacher/courses">Courses</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default paper-shadow" data-z="0.5">
                    <div class="panel-heading">
                        <h4 class="text-headline margin-none">My Courses</h4>
                        <p class="text-subhead text-light">Your recent courses</p>
                    </div>
                    <ul class="list-group">
                        {foreach $c in $courses}
                        <li class="list-group-item media v-middle">
                            <div class="media-body">
                                 {script $course = Course::first(array("id = ?" => $c->course_id), array("id", "title"))}
                                <a href="#" class="text-subhead list-group-link">{echo $course->title}</a>
                            </div>
                            <div class="media-right">
                                <div class="progress progress-mini width-100 margin-none">
                                    <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                    </div>
                                </div>
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                    <div class="panel-footer text-right">
                        <a href="/teacher/courses" class="btn btn-primary paper-shadow relative" data-z="0" data-hover-z="1" data-animated><i class="fa fa-list"></i> View all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
