<!-- Modal -->
<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="User Info">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Student Details</h2>
            </div>
            <div class="modal-body">
                <div id="queryResults"></div>
                <button type="button" class=" modal-action modal-close btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
