<div class="panel-body list-group">
    <ul class="list-group list-group-menu">
        <li class="list-group-item"><a class="link-text-color" href="/student">Dashboard</a></li>
        <li class="list-group-item"><a class="link-text-color" href="#">Messages</a></li>
        <li class="list-group-item"><a class="link-text-color" href="/student/attendances">Attendance</a></li>
        <li class="list-group-item"><a class="link-text-color" href="/student/assignments">Assignments</a></li>
        <li class="list-group-item"><a class="link-text-color" href="/student/courses">Courses</a></li>
        <li class="list-group-item"><a class="link-text-color" href="/student/result">Results</a></li>
    </ul>
</div>
