<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Dashboard</h1>
                <ul>
                    <li>
                        <a href="/school_admin/"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="#">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Stats Panels -->
    <div class="row">
        <div class="col l4 s12">
            <a href="/manage/teachers" class="card-panel stats-card indigo lighten-2 indigo-text text-lighten-5">
            <i class="fa fa-user-secret"></i>
            <span class="count">{echo $counts->teachers}</span>
            <div class="name"><h4>Teachers</h4></div>
            </a>
        </div>
        <div class="col l4 s12">
            <a href="/manage/students" class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
            <i class="fa fa-users"></i>
            <span class="count">{echo $counts->students}</span>
            <div class="name"><h4>Students</h4></div>
            </a>
        </div>
        <div class="col l4 s12">
            <a href="/manage/grades" class="card-panel stats-card teal lighten-2 green-text text-lighten-5">
                <i class="mdi-action-assignment-ind"></i>
                <span class="count">{echo $counts->classes}</span>
                <div class="name"><h4>Classes</h4></div>
            </a>
        </div>
    </div>
    <!-- /Stats Panels -->
</section>
<!-- /Main Content -->
