<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Manage Sections</h1>
                <h4>Class: {echo $grade->title}</h4>
                <ul>
                    <li>
                        <a href="/school"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="/grades/manage">Classes</a> <i class="fa fa-angle-right"></i></li>
                    <li><a href="/grades/edit/{echo $grade->id}">Class: {echo $grade->title}</a> <i class="fa fa-angle-right"></i></li>
                    <li>Sections</li>
                </ul>
            </div>
            <div class="pull-right col">
                <a href="/classrooms/add/{echo $grade->id}" class="btn btn-large green lighten-1 z-depth-0"><i class="mdi mdi-content-add-box"></i> Add Sections</a><br><br>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <div class="card">
        <div class="title">
            <h5><strong>Sections</strong></h5>
        </div>
        <div class="content">
        	{if count($classrooms) > 0}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S. No.</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Remarks</th>
                            <th>Class Teacher</th>
                            <th>Year</th>
                            <th>Students</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1}
                        {foreach $c in $classrooms}
                        <tr>
                            <td>{echo $i}</td>
                            <td>{echo $grade->title}</td>
                            <td>{echo $c->section}</td>
                            <td>{echo $c->remarks}</td>
                            {script $teacher = Educator::first(array("id = ?" => $c->educator_id), array("user_id"))}
                            {script $usr = User::first(array("id = ?" => $teacher->user_id))}
                            <td>{echo $usr->name}</td>
                            <td>{echo $c->year}</td>
                            {script $enrolled = Enrollment::count(array("classroom_id = ?" => $c->id))}
                            <td>{echo $enrolled}</td>
                            <td>
                            <a href="/classrooms/edit/{echo $c->id}/{echo $grade->organization_id}" class="btn btn-small lighten-1 z-depth-0"><i class="mdi mdi-editor-mode-edit"></i></a>
                            <a href="/classrooms/enrollments/{echo $c->id}/{echo $grade->id}" class="btn btn-small lighten-1 teal z-depth-0"><i class="fa fa-users"></i> Enrolled students</a>
                            </td>
                        </tr>
                        {script ++$i}
                        {/foreach}
                    </tbody>
                </table>
            </div>
            {/if}
        </div>
    </div>
    <!-- /LIST -->
</section>
<!-- /Main Content -->
