<div class="panel-body list-group">
    <ul class="list-group list-group-menu">
        <li class="list-group-item"><a class="link-text-color" href="/teacher">Dashboard</a></li>
        <li class="list-group-item"><a class="link-text-color" href="/teacher/manageAttendance">Manage Attendance</a></li>
        <li class="list-group-item"><a class="link-text-color" href="#">Messages</a></li>
        <li class="list-group-item"><a class="link-text-color" href="/assignments/manage">Assignments</a></li>
        <li class="list-group-item"><a class="link-text-color" href="/teacher/courses">Courses</a></li>
    </ul>
</div>
