<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Add Grades</h1>
                <ul>
                    <li>
                        <a href="/school"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="/grades/manage">Manage Grades</a> <i class="fa fa-angle-right"></i></li>
                    <li>Add Grade</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Main Form -->
    {if isset($success)}
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="background-color: #BCED91; color: green;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {echo $success}
    </div>
    {/if}
    <form action="" method="post">
        <table class="table card-panel">
            <thead>
                <tr>
                    <th>Name *</th>
                    <th>Description (Optional)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="I" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="II" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="III" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="IV" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="V" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="VI" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="VII" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="VIII" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="IX" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="X" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="XI" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-social-person-add prefix"></i>
                        <input type="text" class="validate" required="" value="XII" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-content-content-paste prefix"></i>
                        <input type="text" class="validate" value="" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear delete"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="action" value="addGrades">
        <button class="waves-effect btn" type="submit"><i class="mdi-action-done"></i> Submit</button>
        <a href="/grades/manage" class="waves-effect red btn"><i class="mdi-content-clear"></i> Cancel</a>
    </form>
</section>
<!-- /Main Content -->
