<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Manage Classes</h1>
                <ul>
                    <li>
                        <a href="/school_admin"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="#">Manage Classes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <div class="">
        <a href="/add/grades" class="btn btn-large green lighten-1 z-depth-0"><i class="mdi mdi-content-add-box"></i> Add Classes</a><br><br>
    </div>
    <!-- LIST -->
    <div class="card">
        <div class="title">
            <h5><strong>Classes</strong></h5>
        </div>
        <div class="content">
        	{if count($grades) > 0}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S. No.</th>
                            <th>Class</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Courses</th>
                            <th>Sections</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1}
                        {foreach $g in $grades}
                        <tr>
                            <td>{echo $i}</td>
                            <td>{echo $g->title}</td>
                            <td>{echo $g->description}</td>
                            <td>{echo Framework\StringMethods::only_date($g->created)}</td>
                            {script $courses = Course::count(array("grade_id = ?" => $g->id))}
                            <td>{echo $courses}</td>
                            {script $sections = Classroom::count(array("grade_id = ?" => $g->id))}
                            <td>{echo $sections}</td>
                            <td>
                            {if $courses == 0}
                            <a href="/school_admin/addCourses/{echo $g->id}" class="btn btn-small z-depth-0"><i class="mdi mdi-content-add-circle"></i> Add Courses</a>
                            {/if}
                            {else}
                            <a href="/school_admin/manageCourses/{echo $g->id}" class="btn btn-small teal z-depth-0"><i class="mdi mdi-action-assignment"></i> Manage Courses</a>
                            {/else}
                            {if $sections == 0}
                            <a href="/school_admin/addClassrooms/{echo $g->id}" class="btn btn-small purple darken-1 z-depth-0"><i class="mdi mdi-content-add-circle"></i> Add Sections</a>
                            {/if}
                            {else}
                            <a href="/school_admin/manageClassrooms/{echo $g->id}" class="btn btn-small blue darken-4 z-depth-0"><i class="mdi mdi-content-add-circle"></i> Manage Sections</a>
                            {/else}
                            <a href="/school_admin/editGrade/{echo $g->id}" class="btn btn-small lighten-1 z-depth-0"><i class="mdi mdi-editor-mode-edit"></i></a>
                            </td>
                        </tr>
                        {script ++$i}
                        {/foreach}
                    </tbody>
                </table>
            </div>
            {/if}
            {else}
            <a href="/add/grades" class="btn btn-small green z-depth-0"><i class="mdi mdi-content-add"></i> Add Classes</a>
            {/else}
        </div>
    </div>
    <!-- /LIST -->
</section>
<!-- /Main Content -->
