<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="container">
                        <form class="form form-inline" method="post">
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <select class="form-control" name="course">
                                    {foreach $c in $courses}
                                    <option value="{echo $c->id}" {if $course_id == $c->id}selected=""{/if}>{echo $c->title}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Go</button>
                        </form>
                    </div>
                    
                </div><br>
                <div class="row">
                    {script $message = Framework\Registry::get("session")->get('$redirectMessage')}
                    {if ($message)}
                    <div class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        {echo $message}
                        {script Framework\Registry::get("session")->set('$redirectMessage', false)}
                    </div><br>
                    {/if}
                    <h3 class="page-heading">Manage Assignments</h3>
                    <div class="panel">
                        <table class="table text-center table-hover">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Subject</th>
                                    <th>Title</th>
                                    <th>Classroom</th>
                                    <th>Status</th>
                                    <th>Deadline</th>
                                    <th>Submissions</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="panel-body">
                                {script $i = 1} {foreach $a in $assignments}
                                <tr>
                                    <td>{echo $i}</td>
                                    <td>{echo $a->course}</td>
                                    <td>{echo $a->title}</td>
                                    <td>{echo $a->class . " -  ". $a->section}</td>
                                    {script $status = $a->live}
                                    <td>
                                        {if $status}
                                        <span class="label label-success">Active</span>
                                        {/if} {else}
                                        <span class="label-label-warning">Disapproved</span>
                                        {/else}
                                    </td>
                                    <td>{echo Framework\StringMethods::only_date($a->deadline)}</td>
                                    {script $submissions = Submission::count(array("assignment_id = ?" => $a->id))}
                                    <td><a class="badge" href="/assignments/submissions/{echo $a->id}">{echo $submissions}</a></td>
                                    <td>
                                        {script $notification = Framework\Registry::get("MongoDB")->notifications}
                                        {script $record = $notification->findOne(array('sender' => 'user', 'sender_id' => (int) $user->id, 'type' => 'assignment', 'type_id' => (int) $a->id))}

                                        {if !isset($record)}
                                        <a href="/notification/assignment/{echo $a->id}"><i class="fa fa-flag"></i> Notify</a>
                                        {/if} {else}
                                        <a href="/notification/assignment/{echo $a->id}" onclick="return confirm('Are your sure, you want to notify again?')"><i class="fa fa-flag-checkered"></i> Notified</a>
                                        {/else}
                                        <a href="/assignments/create/{echo $a->course_id}/{echo $a->classroom_id}"><i class="fa fa-plus"></i> Create</a>
                                    </td>
                                </tr>
                                {script ++$i} {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">My Account</h4>
                    </div>
                    {include teacher/includes/nav.html}
                </div>
            </div>
        </div>
    </div>
</div>
