<div class="parallax page-section bg-blue-300">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-blue-500 text-white"><i class="fa fa-envelope"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 text-white margin-none">Contact us</h3>
                <p class="text-white text-subhead">Feel free to visit or send us a message anytime.</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="container">
            <p><b>Head Office : </b></p>
            <p>Los Angeles Office</p>
            <p>32 South Spring Street, South Tower</p>
            <p>Los Angeles, CA 90013</p>
            <p>USA</p><br>
            <p><b>Branch Office Address : </b></p>
            <p>406, Sant Nagar, East of Kailash</p>
            <p>New Delhi - 110065</p><br>
            <p><b>Phone: </b>+91-9958636988</p><br>
            <p><b>Email: </b>faizan@cloudstuff.tech</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">
            <div class="panel margin-none panel-default paper-shadow max-width-400" data-z="0.5">
                <div class="panel-heading">
                    <h4 class="text-headline">Send a message</h4>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group form-control-material">
                            <input class="form-control" type="text" id="fname" placeholder="First name" />
                            <label for="fname">First name:</label>
                        </div>
                        <div class="form-group form-control-material">
                            <input class="form-control" type="tel" id="lname" placeholder="Last name" />
                            <label for="lname">Last name:</label>
                        </div>
                        <div class="form-group form-control-material">
                            <input class="form-control" type="text" id="phone" placeholder="Phone" />
                            <label for="phone">Phone:</label>
                        </div>
                        <div class="form-group form-control-material">
                            <textarea class="form-control" id="message" placeholder="Your message"></textarea>
                            <label for="message">Your message:</label>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary relative paper-shadow" data-z="0.5" data-hover-z="1" data-animated>Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>