<div class="parallax page-section bg-green-300">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half text-white"><i class="fa fa-tablet fa-5x"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 text-white margin-none">Features</h3>
                <p class="text-white text-subhead">We have both Web application and android apps for teacher & parents/students</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="media">
                <div class="media-left padding-none">
                    <div class="bg-green-300 text-white">
                        <div class="panel-body">
                            <i class="fa fa-graduation-cap fa-2x fa-fw"></i>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="heading text-headline">School Admin</div>
                        <div class="panel-body">
                            <ul>
                                <li>Admissions</li>
                                <li>Students Management</li>
                                <li>HR Management</li>
                                <li>Exams and Results</li>
                                <li>Events and News</li>
                                <li>Automated TimeTable</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left padding-none">
                    <div class="bg-green-300 text-white">
                        <div class="panel-body">
                            <i class="fa fa-user-secret fa-2x fa-fw"></i>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-headline">Teachers</div>
                            <ul>
                                <li>Online Attendance</li>
                                <li>Manage Assignments</li>
                                <li>Push Notifications</li>
                                <li>Course Planning</li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="media-left padding-none">
                    <div class="bg-green-300 text-white">
                        <div class="panel-body">
                            <i class="fa fa-user fa-2x fa-fw"></i>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-headline">Parents/Students</div>
                            <ul>
                                <li>Performance Tracker</li>
                                <li>Assignment Submission</li>
                                <li>News Update</li>
                                <li>Attendance Insights</li>
                                <li>Live Calendar</li>
                                <li>Fees Payment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>