<div class="parallax cover overlay height-300 margin-none">
    <img class="parallax-layer" data-auto-offset="true" data-auto-size="false" src="{echo CDN}images/photodune-6745579-modern-creative-man-relaxing-on-workspace-m.jpg" alt="Learning Cover" />
    <div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent" data-opacity="true" data-speed="8">
        <div class="v-center">
            <div class="page-section">
                <h1 class="text-display-2 overlay-bg-white margin-v-0-15 inline-block">Software to Manage School</h1>
                <br/>
                <p class="lead text-overlay overlay-bg-white-strong inline-block">All in one Web and mobile Application to automate everything from office records to
                    <br> student continuous evaluation.</p>
            </div>
        </div>
    </div>
</div>
<div class="page-section bg-white">
    <div class="container">
        <div class="text-center">
            <h3 class="text-display-1">Features</h3>
            <p class="lead text-muted">Our Different Modules</p>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left padding-none">
                        <div class="bg-green-300 text-white">
                            <div class="panel-body">
                                <i class="fa fa-graduation-cap fa-2x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="panel panel-default">
                            <div class="heading text-headline">School Admin</div>
                            <div class="panel-body">
                                <ul>
                                    <li>Admissions</li>
                                    <li>Students Management</li>
                                    <li>HR Management</li>
                                    <li>Exams and Results</li>
                                    <li>Events and News</li>
                                    <li>Automated TimeTable</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left padding-none">
                        <div class="bg-green-300 text-white">
                            <div class="panel-body">
                                <i class="fa fa-user-secret fa-2x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-headline">Teachers</div>
                                <ul>
                                    <li>Online Attendance</li>
                                    <li>Manage Assignments</li>
                                    <li>Push Notifications</li>
                                    <li>Course Planning</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="media-left padding-none">
                        <div class="bg-green-300 text-white">
                            <div class="panel-body">
                                <i class="fa fa-user fa-2x fa-fw"></i>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-headline">Parents/Students</div>
                                <ul>
                                    <li>Performance Tracker</li>
                                    <li>Assignment Submission</li>
                                    <li>News Update</li>
                                    <li>Attendance Insights</li>
                                    <li>Live Calendar</li>
                                    <li>Fees Payment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <br/>
            <a class="btn btn-lg btn-primary" href="/contact.html">Get Started</a>
        </div>
    </div>
</div>
<br/>
