{include events/modals/display_event.html}
<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <h2 class="page-header">Attendance</h2>
                    <div id="calendar" class="panel"></div>
                </div>
                <div class="row">
                    <blockquote>
                        <p><span class="label label-success">Present</span>
                        <span class="label label-danger">Absent</span>
                        <span class="label label-info">Event</span></p>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">My Account</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <li class="list-group-item"><a class="link-text-color" href="/student">Dashboard</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="#">Messages</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="/student/attendances">Attendance</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="/student/assignments">Assignments</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="/student/courses">Courses</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="/student/result">Results</a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
