<!-- Section content -->
<section id="content">
    <div class="container">
        <div class="row-fluid">
            <br>
            <div class="span12">
                <span class="btn btn-large btn-block  btn-green"><h1><strong>Congratulations</strong></h1></span>
                <div class="page clearfix no-padd">
                    <div class="entry">
                        <p>{$user->name}, your appointment for {$appointment->title} has been scheduled, it would be good to see you on {$appointment->start} at {$appointment->location}</p>
                        <p>You will receive a call from us for confirmation soon.</p>
                        <h3>Our Addresses</h3>
                        <p><strong>Branch 1:</strong> 22/1,Shanti Bhawan ,Opp. Gate No-2 Pkt- C sarita Vihar, New Delhi-110076</p>
                        <p><strong>Branch 2:</strong> B-1114, G.D. Colony , Mayur Vihar Phase-3, Delhi-110096 (India)</p>
                    </div>
                </div>
                <!--/.page .clearfix .no-padd -->
            </div>
            <!-- span8 -->
        </div>
        <!--/.container -->
    </div>
    <!--/.row-fluid -->
</section>