<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Manage Teachers</h1>
                <ul>
                    <li>
                        <a href="/school_admin"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li>Manage Teachers</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <div class="">
        <a href="/teachers/add" class="btn btn-large green lighten-1 z-depth-0"><i class="mdi mdi-content-add-box"></i> Add Teachers</a><br><br>
    </div>

    <!-- LIST -->
    <div class="card">
        <div class="title">
            <h5><strong>Teachers</strong></h5>
        </div>
        <div class="content">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S. No.</th>
                            <th>Teacher</th>
                            <th>Username</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>Authority</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1}
                        {foreach $t in $teachers}
                        <tr>
                            <td>{echo $i}</td>
                            {script $usr = User::first(array("id = ?" => $t->user_id), array("name", "username", "admin"))}
                            <td>{echo $usr->name}</td>
                            <td>{echo $usr->username}</td>
                            <td>{echo Framework\StringMethods::datetime_to_text($t->created)}</td>
                            
                            {script $live = $t->live}
                            {if $live}
                                <td class="green-text">Active</td>
                            {/if}
                            {else}
                                <td class="red-text">Disabled</td>
                            {/else}
                            
                            {script $admin = $usr->admin}
                            {if $admin}
                                <td><span class="label label-success">Admin</span></td>
                            {/if}
                            {else}
                                <td><span class="label label-primary">Teacher</span></td>
                            {/else}
                            <td>
                            <a href="/school_admin/editTeacher/{echo $t->id}" class="btn btn-small z-depth-0"><i class="mdi mdi-editor-mode-edit"></i></a>
                            <a href="/school_admin/deleteTeacher/{echo $t->id}" class="btn btn-small red lighten-1 z-depth-0"><i class="mdi mdi-action-delete"></i></a>
                            </td>
                        </tr>
                        {script ++$i}
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /LIST -->
</section>
<!-- /Main Content -->
