<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Add Subjects</h1>
                <h4>Grade: {echo $grade->title}</h4>
                <ul>
                    <li>
                        <a href="/school"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="/grades/manage">Grades</a> <i class="fa fa-angle-right"></i></li>
                    <li><a href="/grades/edit/{echo $grade->id}">Grade: {echo $grade->title}</a> <i class="fa fa-angle-right"></i></li>
                    <li>Add Subject</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- Main Form -->
    {if isset($success)}
    <div class="alert alert-success alert-dismissible fade in" role="alert" style="background-color: #BCED91; color: green;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {echo $success}
    </div>
    {/if}
    <form action="" method="post">
        <table class="table card-panel">
            <thead>
                <tr>
                    <th>Name *</th>
                    <th>Description (Optional)</th>
                </tr>
            </thead>
            <tbody>    
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-action-label prefix"></i>
                        <input type="text" class="validate" value="English" required="" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-action-description prefix"></i>
                        <input type="text" class="validate" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-action-label prefix"></i>
                        <input type="text" class="validate" value="Hindi" required="" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-action-description prefix"></i>
                        <input type="text" class="validate" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-action-label prefix"></i>
                        <input type="text" class="validate" value="Mathematics" required="" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-action-description prefix"></i>
                        <input type="text" class="validate" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-action-label prefix"></i>
                        <input type="text" class="validate" value="Science" required="" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-action-description prefix"></i>
                        <input type="text" class="validate" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-action-label prefix"></i>
                        <input type="text" class="validate" value="Social Studies" required="" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-action-description prefix"></i>
                        <input type="text" class="validate" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>
                <tr>
                    <td class="input-field" style="width: 30%">
                        <i class="mdi-action-label prefix"></i>
                        <input type="text" class="validate" value="" required="" name="title[]">
                    </td>
                    <td class="input-field">
                        <i class="mdi-action-description prefix"></i>
                        <input type="text" class="validate" name="description[]">
                    </td>
                    <td class="input-field" style="width: 5%" class="remove">
                        <i class="small mdi-content-clear"></i>
                    </td>
                </tr>

            </tbody>
        </table>
        <input type="hidden" name="action" value="addCourses">
        <button class="waves-effect btn" type="submit"><i class="mdi-action-done"></i> Submit</button>
        <a href="/courses/manage/{echo $grade->id}" class="waves-effect red btn"><i class="mdi-content-clear"></i> Cancel</a>
    </form>
</section>
<!-- /Main Content -->
