<!-- Main Content -->
<section class="content-wrap">
    <!-- Breadcrumb -->
    <div class="page-title">
        <div class="row">
            <div class="col s12 m9 l10">
                <h1>Manage Subjects</h1>
                <h4>Grade: {echo $grade->title}</h4>
                <ul>
                    <li>
                        <a href="/school"><i class="fa fa-home"></i> Home</a>  <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="/grades/manage">Grades</a> <i class="fa fa-angle-right"></i></li>
                    <li><a href="/grades/edit/{echo $grade->id}">Grade: {echo $grade->title}</a> <i class="fa fa-angle-right"></i></li>
                    <li>Subjects</li>
                </ul>
            </div>
            <div class="pull-right col">
                <a href="/grades/add" class="btn btn-large green lighten-1 z-depth-0"><i class="mdi mdi-content-add-box"></i> Add Grades</a><br><br>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->
    <!-- LIST -->
    <div class="card">
        <div class="title">
            <h5><strong>Subjects</strong></h5>
        </div>
        <div class="content">
        	{if count($courses) > 0}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>S. No.</th>
                            <th>Grade</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {script $i = 1}
                        {foreach $c in $courses}
                        <tr>
                            <td>{echo $i}</td>
                            <td>{echo $c->title}</td>
                            <td>{echo $c->description}</td>
                            <td>{echo Framework\StringMethods::only_date($c->created)}</td>
                            <td>
                            <a href="/subject/edit/{echo $c->id}/{echo $grade->id}" class="btn btn-small lighten-1 z-depth-0"><i class="mdi mdi-editor-mode-edit"></i></a>
                            <a href="/subject/remove/{echo $c->id}/{echo $grade->id}" class="btn btn-small red lighten-1 z-depth-0"><i class="mdi mdi-action-delete"></i></a>
                            </td>
                        </tr>
                        {script ++$i}
                        {/foreach}
                    </tbody>
                </table>
            </div>
            {/if}
            {else}
            Subjects for this class. Add some using the button above
            {/else}
        </div>
    </div>
    <!-- /LIST -->
</section>
<!-- /Main Content -->
