<div class="page-section parallax relative overflow-hidden">
    <div class="container">
        <form method="post" action="">
            <div class="panel margin-none panel-default paper-shadow max-width-600 h-center" data-z="0.5">
                <div class="panel-heading">
                    <h4 class="text-headline">Sign In</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group form-control-material">
                        <input class="form-control" type="text" name="username" id="sname" placeholder="UserName" />
                        <label for="sname">UserName</label>
                    </div>
                    <div class="form-group form-control-material">
                        <input class="form-control" type="password" name="password" id="pass" placeholder="Password" />
                        <label for="pass">Password</label>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Login <i class="fa fa-fw fa-unlock-alt"></i></button><br>
                        <a href="#" class="forgot-password">Forgot password?</a><br>
                        <a href="/" class="forgot-password">Cancel</a>
                    </div>
                </div>
            </div>
            <br/>
            <input type="hidden" name="action" value="logmein">
        </form>
    </div>
</div>
