<!-- Modal -->
<div class="modal fade" id="displayEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Event Details</h2>
            </div>
            <div class="modal-body">
                <p>Title: <strong id="eventTitle"></strong></p>
                <p>Description: <strong id="eventDescription"></strong></p>
                <div class="modal-footer">
                 {if $organization->user_id==$user->id}
                    <a href="/events/edit/" id="eventEdit" class="btn btn-info">Edit</a>
                    <a href="#" id="eventDel" class="modal-action modal-close btn btn-danger" data-dismiss="modal">Delete</a>
                    {/if}
                    <button type="button" class=" modal-action modal-close btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
